body {
  background-color: #30384b;
  color: #eee;
}

main {
  padding-top: 3rem;
  max-width: 21rem;
  margin: 0 auto;
  text-align: center;
}

button {
  background-color: transparent;
  color: rgba(255, 255, 255, 0.8);
  border: 0;
  display: inline-block;
  width: 6rem;
}
